.header {
    width: 100%;
    max-width: 100%;
    height: 64px;
    padding: 0 24px;
    top: 30px;
    display: flex;
    align-items: center;
    position: fixed;
}

.header_nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop_nav_list {
    list-style-type: none;
}

.desktop_nav_list > li:not(:nth-child(1)) {
    margin-left: 2rem;
}

.desktop_nav_list li > a {
    text-decoration: none;
    color: var(--veryDarkBlue);
    font-size: var(--font15);
    font-family: var(--inter);
}

.desktop_nav_list li >a:hover {
    color: var(--softOrange);
}

@media (min-width: 900px) {
    .header {
        width: 100%;
        max-width: 1050px;
    }
}